.hidden {
	display: none;
}

.show {
	display: inline-block;
}

.btn-blue {
	background-color: #00BBDD;
}

.btn-grey {
	background-color: #666;
}

.common-btn {
	width: 300px;
	height: 37px;
	line-height: 37px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	font-size: 14px;
}
