#Head {
	width: 100%;
	height: 30px;
	background-color: #3F5F5D;
}

.bg-img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

#Main .title {
	margin-top:  130px;
	text-align: center;
}

#Main .title-info {
	display: inline-block;
	width: 600px;
	font-size: 30px;
	font-weight: bold;
	color: #666;
}

#Main .form {
	width: 300px;
	margin: 30px auto;
}

#Main .info {
	position: relative;
}

#Main .info-line {
	position: relative;
	overflow: hidden;
	width: 350px;
	margin-top: 20px;
}

#Main .input-box {
	float: left;
	width: 260px;
	height: 35px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	font-size: 14px;
	color: #666;
	padding: 0 20px;
}

#Main .error-img {
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: 8px;
}

#Main .drop-down-menu {
	position: absolute;
	width: 300px;
	max-height: 140px;
	z-index: 100;
	top: 35px;
	background-color: #FFF;
	border: 1px solid #666; 
	overflow-y: auto;
}

#Main .drop-down-menu li {
	height: 35px;
	line-height: 35px;
	color: #666;
	cursor: pointer;
	text-indent: 20px;
}

#Main .drop-down-menu li:hover {
	background-color: #666;
	color: #FFF;
}

#Main .file-box {
	float: left;
	width: 260px;
	height: 35px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	padding: 0 20px;
	font-size: 14px;
	color: #666;
}

#Main .upload-btn {
	float: left;
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #FFF;
	border-radius: 5px;
	cursor: pointer;
	background-color: #D9D9D9;
	margin-left: 10px;
	color: #242424;
}

#Main .upload-btn:hover {
	background-color: #666;
	color: #FFF;
}

#Main .choose-file-line {
	width: 470px;
	height: 37px;
	margin-top: 20px;
}

#Main .submit-btn {
	background-color: #00DDDD;
}

#Main .submit-btn:hover {
	background-color: #143FFF;
}

#Main .reset-btn {
	background-color: #D9D9D9;
	color: #242424;
}

#Main .reset-btn:hover {
	background-color: #666;
	color: #FFF;
}
